img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search {
    display: block;
    margin-left: auto;
    margin-right: auto;
}